---
layout: archive
permalink: /year-archive/
title: "Splashing Words of Wisdom"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}

<!-- Brief Disclaimer -->
<div class="disclaimer">
  <p>Please be aware this section is only intended for bilingual (English-Mandarin) readers and solely contains recreational materials. Please also note that the views and opinions expressed in these blog posts do not necessarily reflect the personal views of the author(s). Unless otherwise indicated, all posts are authored by myself. Please note that some readers may find the content offensive.</p>
  <p> <p>
  <p>I always wanted to publish a prose collection, and here's my progress. Feel free to contact me if you'd like to join.</p>
</div>

{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
