---
layout: archive
title: "Homemade"
permalink: /homemade/
author_profile: true
---
This page is under construction. Will include: <br/>
<br/>
- Beef Wellington<br/>
<br/>
- Ratatouille<br/>
<br/>
- 糖醋小排<br/>
<br/>
- 上海小馄饨<br/>
<br/>
- 吊鸡汤、烤鸡腿、健身鸡胸<br/>
<br/>
- 虾扯蛋
<br/>

{% include base_path %}

{% assign homemade_pages = site.static_files | where: "path", "/_food/home" %}

{% for file in homemade_pages %}
  {% if file.extname == ".html" %}
    <div class="post">
      <a href="{{ file.path | relative_url }}">{{ file.name | capitalize }}</a>
    </div>
  {% endif %}
{% endfor %}
